.entry-point-container {
  width : 100%;
}

.entry-point-card-title {
  margin-top: 10px;
  font-weight: 500;
  font-family: Poppins;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  display: inline-block;
  color: #fff;
}

.lightbox {
  top: 0;
  width : 348.2px;
  height : 579.971px;
}

.lightbox.show {
  visibility: visible;
  z-index: 99999;
  opacity: 1;
}

/* enables full screen for the player */
amp-story-player.my-player {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;
      border-radius: 1.53846rem;
  border: 0.38462rem solid #f7f7f7;
  background-color: #ccc;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  
}

.entry-points {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.divTitle .title{
white-space: nowrap;
max-width : 100%;
text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
}

.circular-entry-point img {
  width:60px;
  height:60px;
  cursor: pointer;
  border-radius: 100%;
  background-clip: content-box;
  border: 2px solid;
  padding: 3px;
}

.entry-point-card-container {
  position: relative;
  width: 50px;
  transition: transform 0.3s;
}

/* Extra stuff that makes sample aesthetic. */

body h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: white;
  font-family: Poppins;
  margin-bottom: 35px;
  margin-left: 20px;
}

.fake-content {
  /* width: 320px;
  height: 427px; */
  top: -178px;
  margin: auto;

  background: #24242d;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.viewport {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items : center;
  /*   border-radius: 10px; */
  padding: 20px;
  margin: auto;
  width: max-content;
  height: 800px;
  /* background-color: #202029; */
  overflow: hidden;
}
.frame-body{
display : fles;
flex-direction : column;
align-items: center;
}